<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Календарь</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <h1>Свободное время</h1>
    <form th:action="@{/calendar/add}" method="post">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" min="2023-04-29" max="2023-05-29" required />

        <label for="time">Time:</label>
        <input type="time" id="time" name="time" required />

        <label for="employee">Employee:</label>
        <select id="employee" name="employee" required>
            <option th:each="employee : ${employees}" th:value="${employee.id}" th:text="${employee.name} + ' ' + ${employee.surname}" />
        </select>

        <button type="submit">Add to Calendar</button>
    </form>

    <form th:action="@{/calendar/filter}" method="get">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" min="2023-04-29" max="2023-05-29" />

        <label for="employee">Employee:</label>
        <select id="employee" name="employee">
            <option value="" selected>Select an option</option>
            <option th:each="employee : ${employees}" th:value="${employee.id}" th:text="${employee.name} + ' ' + ${employee.surname}" />
        </select>

        <button type="submit">Filter</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Сотрудник</th>
                <th>Дата</th>
                <th>Время</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="calendar : ${calendar}">
                <td th:text="${calendar.employee.name} + ' ' + ${calendar.employee.surname}"></td>
                <td th:text="${calendar.date}"></td>
                <td th:text="${calendar.time}"></td>
                <td>
                    <form th:action="@{/calendar/delete/{id}(id=${calendar.id})}" method="post">
                        <button type="submit">Удалить</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
