<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Календарь</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<nav class="admin">
    <ol>
        <li><a th:href="@{/appointment}">Записи</a></li>
        <li><a th:href="@{/employees}">Сотрудники</a></li>
        <li><a th:href="@{/profession}">Профессии</a></li>
        <li><a th:href="@{/user}">Клиенты</a></li>
        <li><a th:href="@{/calendar}">Календарь</a></li>
    </ol>
</nav>
    <h1>Свободное время</h1>
    <form th:action="@{/calendar/add}" method="post">
        <label for="date">Дата:</label>
        <input type="date" id="date" name="date" th:min="${minDate}" th:max="${maxDate}" required />

        <label for="time">Время:</label>
        <input type="time" id="time" name="time" required />

        <label for="employee">Сотрудник:</label>
        <select id="employee" name="employee" required>
            <option value="" selected>Выберите сотрудника</option>
            <option th:each="employee : ${employees}" th:value="${employee.id}" th:text="${employee.name} + ' ' + ${employee.surname}" />
        </select>

        <button type="submit">Добавить</button>
    </form>

    <form th:action="@{/calendar/filter}" method="get">
        <label for="date">Дата:</label>
        <input type="date" id="date" name="date" th:min="${minDate}" th:max="${maxDate}" />

        <label for="employee">Сотрудник:</label>
        <select id="employee" name="employee">
            <option value="" selected>Выберите сотрудника</option>
            <option th:each="employee : ${employees}" th:value="${employee.id}" th:text="${employee.name} + ' ' + ${employee.surname}" />
        </select>

        <button type="submit">Поиск</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Сотрудник</th>
                <th>Дата</th>
                <th>Время</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="calendar : ${calendar}">
                <td th:text="${calendar.employee.name} + ' ' + ${calendar.employee.surname}"></td>
                <td th:text="${calendar.date}"></td>
                <td th:text="${calendar.time}"></td>
                <td>
                    <form th:action="@{/calendar/delete/{id}(id=${calendar.id})}" method="post">
                        <button type="submit">Удалить</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
