<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Профессии</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<nav class="admin">
  <ol>
    <li><a th:href="@{/appointment}">Записи</a></li>
    <li><a th:href="@{/employees}">Сотрудники</a></li>
    <li><a th:href="@{/profession}">Профессии</a></li>
    <li><a th:href="@{/user}">Клиенты</a></li>
    <li><a th:href="@{/calendar}">Календарь</a></li>
  </ol>
</nav>
<h1>Профессии</h1>
    <form th:action="@{/profession/add}" method="post">
      <label for="service">Услуга:</label>
      <select id="service" name="service" required>
        <option value="" selected>Выберите услугу</option>
        <option th:each="service : ${services}" th:value="${service.id}" th:text="${service.title}" />
      </select>

      <label for="employee">Сотрудник:</label>
      <select id="employee" name="employee" required>
        <option value="" selected>Выберите сотрудника</option>
        <option th:each="employee : ${employees}" th:value="${employee.id}" th:text="${employee.name} + ' ' + ${employee.surname}" />
      </select>

      <button type="submit">Добавить</button>
    </form>

    <form th:action="@{/profession/filter}" method="get">
      <label for="service">Услуга:</label>
      <select id="service" name="service">
        <option value="" selected>Выберите услугу</option>
        <option th:each="service : ${services}" th:value="${service.id}" th:text="${service.title}" />
      </select>

      <label for="employee">Сотрудник:</label>
      <select id="employee" name="employee">
        <option value="" selected>Выберите сотрудника</option>
        <option th:each="employee : ${employees}" th:value="${employee.id}" th:text="${employee.name} + ' ' + ${employee.surname}" />
      </select>

      <button type="submit">Поиск</button>
    </form>

<table>
  <thead>
  <tr>
    <th>Сотрудник</th>
    <th>Услуга</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="employeeService : ${employeeServices}">
    <td th:text="${employeeService.employee.name} + ' ' + ${employeeService.employee.surname}"></td>
    <td th:text="${employeeService.service.title}"></td>
    <td>
      <form th:action="@{/profession/delete/{id}(id=${employeeService.id})}" method="post">
        <button type="submit">Удалить</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
